* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.container-grid {
  height: 748px;
  width: 748px;
  display: grid;
  grid-template-columns: 320px 198px 153px 50px;
  grid-template-rows: 414px 130px 155px 20px;
  background: black;
  gap: 9px;
}
.red {
  background-color: red;
}

.white1 {
  background: #edefe9;
  grid-column: span 3;
}
.white2 {
  background: #edefe9;
  grid-row: span 2;
}
.white3 {
  background: #edefe9;
  grid-row: span 2;
  grid-column: span 2;
}

.blue {
  background-color: rgb(3, 3, 209);
  border-bottom: 10px solid black;
}
.white4 {
  background: #edefe9;
  grid-row: span 2;
}
.item {
  background: #edefe9;
}
.yellow {
  background: yellow;
}
